{% load static %}
{% load bootstrap4 %}

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/BabaitSystem.css' %}">

</head>
<body>
<div class="container">

<form action="#" method="get" class="form-horizontal">
{% csrf_token %}

     <input type="text" id="makat" name="makat" placeholder="הכנס כאן מקט מבוקש"><br><br>
    <input type="submit" value="בדיקה" name="mybtn" id="mybtn">

</form>
    <a></a>
</div>
</body>